*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font:16px 1.5 sans-serif;
    font-weight: 200;


    
}
.panel1{ background-image: url(../images/spring.jpeg);}
.panel2{ background-image: url(../images/summer.jpeg);}
.panel3{ background-image: url(../images/night.jpg);}
.panel4{ background-image: url(../images/autumn.jpg);}
.panel5{ background-image: url(../images/winter.jpeg);}

.panels{
    min-height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    overflow: hidden;
    
}

.panel{
    flex:1;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    text-align: center;
     box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    
}

.panel>*{
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-family: "Amatic SC", cursive;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);

    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex:1 0 auto;
    transition:transform 0.5s;
    


}

.panel>*:first-child{
    transform: translateY(-100%);
}
.panel.open-active>*:first-child{
    transform: translateY(0%);
}
.panel>*:last-child{
    transform:translateY(100%);
}
.panel.open-active>*:last-child{
    transform:translateY(0%);
}
.panel p:nth-child(2){
    font-size: 4em;
}

.panel.open{
    font-size: 35px;
    flex:5;
}










































